<div class="spp-product-trust" {{ block.shopify_attributes }}>
  <p>Fast delivery</p>
  <p>Secure payment</p>
  <p>Member pricing</p>
  <p>Gift packaging</p>
</div>
{% schema %}
{
  "name": "Product trust row",
  "settings": []
}
{% endschema %}
